body {
  font-family: Arial, sans-serif;
  background-color: #d15151;
  margin: 0;
  padding: 0;
}

.form-container {
  width: 320px;
  padding: 20px;
  margin: 60px auto;
  background-color: white;
  border: 3px solid black;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

h2 {
  background-color: #7aa6c2;
  color: black;
  padding: 10px;
  text-align: center;
  font-style: italic;
  margin-bottom: 20px;
  border: 2px solid #00008b;
  font-size: 16px;
  border-radius: 5px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  width: 100%;
  height: 40px;
  padding: 10px;
  margin-bottom: 12px;
  border: 2px solid #00008b;
  border-radius: 5px;
  font-style: italic;
  font-size: 14px;
  box-sizing: border-box;
}

.button-group {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.btn {
  width: 110px;
  padding: 10px;
  background-color: #4db8ff;
  color: black;
  border: 2px solid #00008b;
  border-radius: 20px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #1da1f2;
  color: white;
}