body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #dfeded;
}

.navbar-custom{
    background: linear-gradient(to right, #ff966d, #fa538d, #89379c);
    padding: 15px 100px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:28px;
    font-style: italic;
    color:#67edc8;
    text-decoration: none;
}

.navbar-toggler{
    font-size: 24px;
    display:none;
    cursor:pointer;
    color:#ffffff;
    position:absolute;
    right:20px;
    top: 15px;
}

.navbar-nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-grow:1;
    position:relative;
}

.navbar-nav li{
    margin-left: 15px;
    margin-right: 15px;
    position: relative;
}

.navbar-nav a {
    text-decoration: none;
    color:#ffffff;
    font-size: 18px;
}

.navbar-nav a:hover{
    color: #67edc8;
}

.sub-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #232d36;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    list-style-type: none;
    padding: 10px;
    border-radius: 5px;
    z-index: 1;
}

.navbar-nav li:hover .sub-menu {
    display: block;
}

.sub-menu li {
    margin: 15px 0;
}

.sub-menu a {
    font-size: 18px;
    color: #ffffff;
}

.sub-menu a:hover {
    color: #67edc8;
}

input[type="checkbox"]{
    display: none;
}

.navbar-collapse{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav-item .nav-link .fas {
    margin-left: 10px;
}

@media(max-width:768px){

    .navbar-custom{
        flex-direction: column;
        padding: 10px;
    }

    .navbar-brand {
        margin-bottom:10px;
        text-align: center;
    }

    .navbar-nav {
        display: none;
        flex-direction: column;
        background-color: #232d36;
        position: absolute;
        top:60px;
        left:0;
        right: o;
        padding: 20px;
    }

    .navbar-nav li{
        margin:10px 0;
        text-align: center;
    }

    .navbar-nav a {
        font-size: 16px;
    }

    .navbar-toggler{
        display: block;
    }

    input[type="checkbox"]:checked ~ .navbar-collapse .navbar-nav{
        display:flex;
    }

    .sub-menu {
        position: relative;
        top:0;
        left: 0;
        width: 100%;
        box-shadow: none;
    }
}



