@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    background-image: url("../img/Fondo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    width: 450px;
    background: white;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 0 17px 10px rgba(0,0,0,0.25);
}

.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* INPUTS Y SELECT */
.form-container input,
.form-container select {
    width: 100%;
    height: 42px;
    margin-bottom: 15px;
    padding: 0 15px;
    background: #e6e6e6;
    border: none;
    outline: none;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
}

.form-container select {
    cursor: pointer;
}

/* TEXTAREA */
.form-container textarea {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px 15px;
    background: #e6e6e6;
    border: none;
    outline: none;
    border-radius: 10px;
    resize: none;
    font-family: 'Poppins', sans-serif;
}

.form-container input:focus,
.form-container textarea:focus,
.form-container select:focus {
    box-shadow: 0 0 0 2px rgba(250, 83, 141, 0.4);
}

/* MATERIALES */
.materiales {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 12px;
}

.materiales legend {
    font-weight: 600;
    padding: 0 10px;
    color: #89379c;
}

/* BOTONES */
.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.btn {
    width: 48%;
    padding: 10px 0;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

.btn.primary {
    color: white;
    background: linear-gradient(to right, #ff966d, #fa538d, #89379c);
}

.btn.secondary {
    background: #d6d6d6;
    color: #333;
}

/* HISTORIAL */
.history-item {
    background: #f5f5f5;
    border-radius: 12px;
    padding: 10px 15px;
    margin-bottom: 10px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
}

/* Listado de productos */
.material-card {
    background: #e6e6e6;
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 15px;
}

.material-card h3 {
    margin-bottom: 6px;
    color: #fa538d;
}

.material-card p {
    font-size: 14px;
}

/* materias_disponibles */
.material-card {
    background: #e6e6e6;
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 15px;
}

.material-card h3 {
    margin-bottom: 6px;
    color: #fa538d;
}

.material-card p {
    font-size: 14px;
}
